<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_store})}|">Show Store - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${store}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="store-city-field" data-z="d21b7156">
            	      <strong data-th-text="#{label_store_city}">city</strong>
                    <span data-th-text="*{{city}}">cityValue</span>
         	        </li>
                  <li id="store-country-field" data-z="95a27e8">
            	      <strong data-th-text="#{label_store_country}">country</strong>
                    <span data-th-text="*{{country}}">countryValue</span>
         	        </li>
                  <li id="store-region-field" data-z="f4f9aa76">
            	      <strong data-th-text="#{label_store_region}">region</strong>
                    <span data-th-text="*{{region}}">regionValue</span>
         	        </li>
                  <li id="store-name-field" data-z="e503cd56">
            	      <strong data-th-text="#{label_store_name}">name</strong>
                    <span data-th-text="*{{name}}">nameValue</span>
         	        </li>
                  <li id="store-address-field" data-z="ba631428">
            	      <strong data-th-text="#{label_store_address}">address</strong>
                    <span data-th-text="*{{address}}">addressValue</span>
         	        </li>
                  <li id="store-postalcode-field" data-z="a7c0ba96">
            	      <strong data-th-text="#{label_store_postalcode}">postalCode</strong>
                    <span data-th-text="*{{postalCode}}">postalCodeValue</span>
         	        </li>
                  <li id="store-phone-field" data-z="3515cb28">
            	      <strong data-th-text="#{label_store_phone}">phone</strong>
                    <span data-th-text="*{{phone}}">phoneValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
