<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Page menu</title>
  </head>
  <body id="body">
    <!--
    Only the internal content of the following div is included within
    the template, in menu fragment
    -->
    <nav class="navbar navbar-default navbar-static-top" data-th-fragment="menu">

         <div class="container">

            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainnav" aria-expanded="false">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <!-- Brand logo -->
              <div class="organization-logo navbar-brand">
                <a title="Northwind" href="/" data-th-href="@{/}">
                  <img alt="Northwind" data-th-src="@{/public/img/logo.png}" src="../../static/public/img/logo.png" />
                </a>
              </div>
              <!-- Name application -->
              <div class="application-name navbar-brand hidden-xs">
                <a data-th-title="#{label_goHome}" href="/" data-th-href="@{/}">Northwind</a>
              </div>

            </div><!-- /navbar-header -->

            <div id="mainnav" class="navbar-collapse collapse">

              <ul class="nav navbar-nav" id="entitiesMenuEntries">
                <li class="dropdown" id="category-entry" data-z="25da7923">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_category})}">Category<span class="caret"></span></a>
                 <ul class="dropdown-menu">
	                   <li><a href="/categories/create-form" data-th-href="@{/categories/create-form}" data-th-utext="#{label_create_entity(#{label_category})}">Create Category</a></li>
	                  <li><a href="/categories" data-th-href="@{/categories}" data-th-utext="#{label_list_entity(#{label_category_plural})}">List Category</a></li>
                 </ul>
                </li>
                <li class="dropdown" id="city-entry" data-z="36d29c69">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_city})}">City<span class="caret"></span></a>
                 <ul class="dropdown-menu">
	                  <li><a href="/cities" data-th-href="@{/cities}" data-th-utext="#{label_list_entity(#{label_city_plural})}">List City</a></li>
                 </ul>
                </li>
                <li class="dropdown" id="country-entry" data-z="2096789d">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_country})}">Country<span class="caret"></span></a>
                 <ul class="dropdown-menu">
	                  <li><a href="/countries" data-th-href="@{/countries}" data-th-utext="#{label_list_entity(#{label_country_plural})}">List Country</a></li>
                 </ul>
                </li>
                <li class="dropdown" id="customer-entry" data-z="5dd5c6e8">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_customer})}">Customer<span class="caret"></span></a>
                 <ul class="dropdown-menu">
	                   <li><a href="/customers/create-form" data-th-href="@{/customers/create-form}" data-th-utext="#{label_create_entity(#{label_customer})}">Create Customer</a></li>
	                  <li><a href="/customers" data-th-href="@{/customers}" data-th-utext="#{label_list_entity(#{label_customer_plural})}">List Customer</a></li>
                 </ul>
                </li>
                <li class="dropdown" id="customerorder-entry" data-z="aad5bc76">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_customerorder})}">CustomerOrder<span class="caret"></span></a>
                 <ul class="dropdown-menu">
	                   <li><a href="/customerorders/create-form" data-th-href="@{/customerorders/create-form}" data-th-utext="#{label_create_entity(#{label_customerorder})}">Create CustomerOrder</a></li>
	                  <li><a href="/customerorders" data-th-href="@{/customerorders}" data-th-utext="#{label_list_entity(#{label_customerorder_plural})}">List CustomerOrder</a></li>
                 </ul>
                </li>
                <li class="dropdown" id="employee-entry" data-z="2a5886e8">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_employee})}">Employee<span class="caret"></span></a>
                 <ul class="dropdown-menu">
	                   <li><a href="/employees/create-form" data-th-href="@{/employees/create-form}" data-th-utext="#{label_create_entity(#{label_employee})}">Create Employee</a></li>
	                  <li><a href="/employees" data-th-href="@{/employees}" data-th-utext="#{label_list_entity(#{label_employee_plural})}">List Employee</a></li>
                 </ul>
                </li>
                <li class="dropdown" id="product-entry" data-z="84fc89d6">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_product})}">Product<span class="caret"></span></a>
                 <ul class="dropdown-menu">
	                   <li><a href="/products/create-form" data-th-href="@{/products/create-form}" data-th-utext="#{label_create_entity(#{label_product})}">Create Product</a></li>
	                  <li><a href="/products" data-th-href="@{/products}" data-th-utext="#{label_list_entity(#{label_product_plural})}">List Product</a></li>
                 </ul>
                </li>
                <li class="dropdown" id="purchaseorder-entry" data-z="4902a876">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_purchaseorder})}">PurchaseOrder<span class="caret"></span></a>
                 <ul class="dropdown-menu">
	                   <li><a href="/purchaseorders/create-form" data-th-href="@{/purchaseorders/create-form}" data-th-utext="#{label_create_entity(#{label_purchaseorder})}">Create PurchaseOrder</a></li>
	                  <li><a href="/purchaseorders" data-th-href="@{/purchaseorders}" data-th-utext="#{label_list_entity(#{label_purchaseorder_plural})}">List PurchaseOrder</a></li>
                 </ul>
                </li>
                <li class="dropdown" id="region-entry" data-z="aab81928">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_region})}">Region<span class="caret"></span></a>
                 <ul class="dropdown-menu">
	                  <li><a href="/regions" data-th-href="@{/regions}" data-th-utext="#{label_list_entity(#{label_region_plural})}">List Region</a></li>
                 </ul>
                </li>
                <li class="dropdown" id="shipper-entry" data-z="7d8f81d6">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_shipper})}">Shipper<span class="caret"></span></a>
                 <ul class="dropdown-menu">
	                   <li><a href="/shippers/create-form" data-th-href="@{/shippers/create-form}" data-th-utext="#{label_create_entity(#{label_shipper})}">Create Shipper</a></li>
	                  <li><a href="/shippers" data-th-href="@{/shippers}" data-th-utext="#{label_list_entity(#{label_shipper_plural})}">List Shipper</a></li>
                      <li><a href="/shippers/search/byPhone/search-form" data-th-href="@{/shippers/search/byPhone/search-form}" data-th-text="#{label_search_entity(findByPhone)}" id="ShipperfindByPhone">Search findByPhone</a></li>
                 </ul>
                </li>
                <li class="dropdown" id="soldproduct-entry" data-z="b26b636">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_soldproduct})}">SoldProduct<span class="caret"></span></a>
                 <ul class="dropdown-menu">
	                   <li><a href="/soldproducts/create-form" data-th-href="@{/soldproducts/create-form}" data-th-utext="#{label_create_entity(#{label_soldproduct})}">Create SoldProduct</a></li>
	                  <li><a href="/soldproducts" data-th-href="@{/soldproducts}" data-th-utext="#{label_list_entity(#{label_soldproduct_plural})}">List SoldProduct</a></li>
                 </ul>
                </li>
                <li class="dropdown" id="store-entry" data-z="6102cf96">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_store})}">Store<span class="caret"></span></a>
                 <ul class="dropdown-menu">
	                   <li><a href="/stores/create-form" data-th-href="@{/stores/create-form}" data-th-utext="#{label_create_entity(#{label_store})}">Create Store</a></li>
	                  <li><a href="/stores" data-th-href="@{/stores}" data-th-utext="#{label_list_entity(#{label_store_plural})}">List Store</a></li>
                 </ul>
                </li>
                <li class="dropdown" id="supplier-entry" data-z="a3dd4ee8">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_supplier})}">Supplier<span class="caret"></span></a>
                 <ul class="dropdown-menu">
	                   <li><a href="/suppliers/create-form" data-th-href="@{/suppliers/create-form}" data-th-utext="#{label_create_entity(#{label_supplier})}">Create Supplier</a></li>
	                  <li><a href="/suppliers" data-th-href="@{/suppliers}" data-th-utext="#{label_list_entity(#{label_supplier_plural})}">List Supplier</a></li>
                 </ul>
                </li>
                <li class="dropdown" id="customerordersflow-entry" data-z="5b8598ea">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_customerordersflow})}">customerordersflow<span class="caret"></span></a>
                 <ul class="dropdown-menu">
					         <li><a href="customerordersflow" data-th-href="@{customerordersflow}" data-th-utext="#{label_customerordersflow}">customerordersflow</a></li>
                 </ul>
                </li>
              </ul>

              <!-- Language select -->
              <ul class="nav navbar-nav navbar-right upper-nav languages" data-th-replace="~{fragments/languages :: languages}">
                <!-- Content replaced by the session template fragment language.html
                -->
                <span>Language data</span>
              </ul>

              <!-- User menu -->
              <ul class="nav navbar-nav navbar-right upper-nav session" data-th-replace="~{fragments/session-links :: session}">
                <!-- Content replaced by the session template fragment session-links.html
                -->
                <span>User session data</span>
              </ul>


              <!-- User menu links -->
              <ul class="nav navbar-nav navbar-right upper-nav links" data-th-replace="~{fragments/session-links :: links}">
                <!-- Content replaced by the links template fragment session-links.html
                -->
                <span>User session data</span>
              </ul>
           </div>

          </div>
    </nav>

    <!--
    Only the internal content of the following div is included within
    the template, in menu-languages fragment
    -->
    <nav class="navbar navbar-default navbar-static-top" data-th-fragment="menu-languages">

         <div class="container">

            <div class="navbar-header">

              <!-- Brand logo -->
              <div class="organization-logo navbar-brand">
                <a title="Northwind" href="/" data-th-href="@{/}">
                  <img alt="Northwind" data-th-src="@{/public/img/logo.png}" src="../../static/public/img/logo.png" />
                </a>
              </div>
              <!-- Name application -->
              <div class="application-name navbar-brand hidden-xs">
                <a data-th-title="#{label_goHome}" href="/" data-th-href="@{/}">Northwind</a>
              </div>

            </div><!-- /navbar-header -->

            <div id="mainnav" class="navbar-collapse collapse">

              <!-- Language select -->
              <ul class="nav navbar-nav navbar-right upper-nav languages" data-th-replace="~{fragments/languages :: languages}">
                <!-- Content replaced by the session template fragment language.html
                -->
                <span>Language data</span>
              </ul>

           </div>

          </div>
    </nav>

  </body>
</html>
