<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_category})}|">Show Category - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${category}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="category-name-field" data-z="6db4e129">
            	      <strong data-th-text="#{label_category_name}">name</strong>
                    <span data-th-text="*{{name}}">nameValue</span>
         	        </li>
                  <li id="category-description-field" data-z="bd8f6f75">
            	      <strong data-th-text="#{label_category_description}">description</strong>
                    <span data-th-text="*{{description}}">descriptionValue</span>
         	        </li>
                  <li id="category-createddate-field" data-z="cc07f055">
            	      <strong data-th-text="#{label_category_createddate}">createdDate</strong>
                    <span data-th-text="*{{createdDate}}">createdDateValue</span>
         	        </li>
                  <li id="category-createdby-field" data-z="f505f4b5">
            	      <strong data-th-text="#{label_category_createdby}">createdBy</strong>
                    <span data-th-text="*{{createdBy}}">createdByValue</span>
         	        </li>
                  <li id="category-modifieddate-field" data-z="22f245c9">
            	      <strong data-th-text="#{label_category_modifieddate}">modifiedDate</strong>
                    <span data-th-text="*{{modifiedDate}}">modifiedDateValue</span>
         	        </li>
                  <li id="category-modifiedby-field" data-z="d1af1729">
            	      <strong data-th-text="#{label_category_modifiedby}">modifiedBy</strong>
                    <span data-th-text="*{{modifiedBy}}">modifiedByValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
